@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --link: #ffffff;
  --link-hover: #626262;

  ::selection {
    @apply bg-white text-background;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply uppercase;
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

@layer base {
  .container {
    @apply sm:p-6 p-4;
  }
}
